$Mobile: "only screen and (max-width: 699px)";
$Tablet: "only screen and (min-width: 700px) and (max-width: 1023px)";
$MdDesktop: "only screen and (min-width: 1024px) and (max-width: 1439px)";
$LargeDesktop: "only screen and (min-width: 1440px)";
