@import "../../../styles/variables.scss";

.filterWrapper {
  background-color: #ffffff;
  padding: 5px;
  @media #{$Mobile} {
    margin-bottom: 20px;
  }
  .successfulLaunch,
  .successfulLanding,
  .launchYear {
    h3 {
      text-decoration: underline;
    }
  }
  .launchYear {
    .launchesYearWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5px;
      .button {
        margin: 5px 0 5px 0;
      }
    }
  }
}
